* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

#root {
    height: inherit;
    width: inherit;
}

.title {
    color: rgb(108, 223, 185);
}

.subtitle {
    color: rgb(107, 238, 236);
}

.landing-logo {
    position: fixed;
    left: 680px;
    top: 30px;
    width: 600px;
}

.form-wrapper{
    display: contents;
}

.form-body {
    margin-top: 10px;
}

.form-label {
    color: rgb(88, 155, 147);
}

.App {
    background: linear-gradient(180deg, #582680, #010c42, #0e8989);
    background-size: inherit;
    height: inherit;
    width: inherit;
};